body {
      font-family: "Avenir", "Helvetica Neue", Helvetica, sans-serif;
      width: 100%;
      color: #fff;
      background-color: #6cb0e0;
}
h1, h2 {
  text-transform: uppercase;
  text-align: center;
}
h1 {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 0px;
}
h2 {
  font-size: 32px;
  color: #888;
}

/* SVG */
svg.main {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.background {
  fill: #6cb0e0;
  pointer-events: all;
}
.countries {
  fill: #b0d0ab;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.airports {
  fill: #036;
  stroke: #6cb0e0;
  stroke-width: 0.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}
.plane {
  fill: #fff;
  stroke-width: 0;
}
.route {
  fill: none;
  /*stroke: #fff;
  stroke-width: 0.5;*/
}